<p id="notice"><%= notice %></p>

<h1>Agenda Cita</h1>

<table>
  <thead>
    <tr>
      <th>Ips</th>
      <th>Especialidad</th>
      <th>Profesional</th>
      <th>Fecha</th>
      <th>Paciente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agenda_cita.each do |agenda_citum| %>
      <tr>
        <td><%= agenda_citum.ips %></td>
        <td><%= agenda_citum.especialidad %></td>
        <td><%= agenda_citum.profesional %></td>
        <td><%= agenda_citum.fecha %></td>
        <td><%= agenda_citum.paciente %></td>
        <td><%= link_to 'Show', agenda_citum %></td>
        <td><%= link_to 'Edit', edit_agenda_citum_path(agenda_citum) %></td>
        <td><%= link_to 'Destroy', agenda_citum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Agenda Citum', new_agenda_citum_path %>
